<div class="website-holder">
  <app-header></app-header>
  <div class="image-holder">
    <img src="assets/photo1.jpg">
  </div>
  <div class="table-content">
    <div class="row">
      <div class="number">1</div>
      <div class="text">Gdzie Was zapraszamy</div>
    </div>
    <div class="row">
      <div class="number">2</div>
      <div class="text">Ważne informacje</div>
    </div>
    <div class="info">
      <div class="left"></div>
      <div class="inner">
        <p>Harmonogram</p>
        <p>Transport</p>
        <p>Hotel</p>
        <p>Prezenty</p>
        <p>Ceremonia offline</p>
      </div>
    </div>
    <div class="row">
      <div class="number">3</div>
      <div class="text">Dress code</div>
    </div>
    <div class="row">
      <div class="number">4</div>
      <div class="text">Będziesz z nam?</div>
    </div>
  </div>
  <div class="info-text">
    <p>Razem już od dziewięciu lat, a teraz chcemy, żebyście razem z nami świętowali dzień, w którym oficjalnie powiemy
      sobie ‘tak’. Zanim to jednak nastąpi, pare ważnych informacji i kawałek naszej historii.</p>
  </div>
  <div class="info-text">
    <div class="title">Kawalek historii</div>
    <p>
      Kopenhaga, tu spędziliśmy razem większość czasu, studiując, poznając ludzi, imprezując - jak na załączonym obrazku.
    </p>
  </div>
  <div class="image-holder">
    <img src="assets/photo2.jpg">
  </div>
  <div class="image-holder">
    <img src="assets/photo3.jpg">
  </div>
  <div class="image-holder">
    <img src="assets/photo4.jpg">
  </div>
  <div class="info-text">
    <div class="title">
      Jak do tego doszlo, nie wiem, ale..
    </div>
    <p>
      na naszym weselu chcemy się bawić z Wami tak, jak w podróżach. Intensywnie, z pizzą i winkiem w ręku,
      żeby wspomnienia były jak najlepsze!    </p>
  </div>
  <div class="image-holder-multiple">
    <img src="assets/photo5.jpg" id="img1">
    <img src="assets/photo6.jpg" id="img2">
    <img src="assets/photo7.jpg" id="img3">
    <img src="assets/photo8.jpg" id="img4">
  </div>

  <div class="info-text" id="after-photo">
    <div class="title">
      Teraz zjestesmy tutaj..
    </div>
    <p>
      na naszym weselu chcemy się bawić z Wami tak, jak w podróżach. Intensywnie, z pizzą i winkiem w ręku,
      żeby wspomnienia były jak najlepsze!    </p>
  </div>
  <div class="image-holder">
    <img src="assets/photo9.jpg">
  </div>
  <div class="title">
    Gdzie odbędzie się ceremonia i wesele?
    <div class="info-title">
      Sady Albigowa | 06.08.2022 | 16:30
    </div>
    <div class="info-text">
      Bierzemy ślub cywilny, ceremonia jak i wesele odbędzie się w Sadach w Albigowej. Ceremonia zaczyna się o godzinie 16.30 na zewnątrz folwarku. Na przyjęcie weselne zapraszamy do historycznej stodoły z 1856 roku, która znajduje się zaraz obok.
    </div>
  </div>
  <div class="image-holder">
    <img src="assets/photo10.jpg">
  </div>
  <div class="image-holder">
    <img src="assets/photo11.jpg">
  </div>
  <div class="title">
    Ważne informacje
    <div class="info-title">
      Harmonogram
    </div>
    <div class="info-text">
      Nie musicie się martwić o transport do domu :) Zapewniamy transport z wesela, bus będzie kursował co godzinę,
      lub jeśli zbierze się większa ilość gości.
    </div>
    <div class="info-title">
      Transport
    </div>
    <div class="info-text">
      Nie musicie się martwić o transport do domu :) Zapewniamy transport z wesela, bus będzie kursował co godzinę,
      lub jeśli zbierze się większa ilość gości.
    </div>
    <div class="info-title">
      Hotel / Nocleg
    </div>
    <div class="info-text">
      Przewidujemy noclegi w hotelu Łańcut, dla osób, które przyjeżdżają z daleka.
      Jeśli potrzebujesz noclegu, możesz dać nam znać.
    </div>
    <div class="info-title">
      Prezenty
    </div>
    <div class="info-text">
      Najlepszym prezentem, jaki możesz nam dać, jest świętowanie wspólnie z nami tego dnia. Jeśli jednak chcesz nam
      coś podarować, to niech to będzie whisky bądź gin, który będziemy mogli później razem wypić ;)
    </div>
    <div class="info-title">
      Ceremonia offline
    </div>
    <div class="info-text">
      Chcemy, żebyście byli obecni z nami w tym dniu, dlatego zdecydowaliśmy się na ceremonię offline. Będziemy wdzięczni,
      jeśli w czasie ceremonii ślubu cywilnego, nie będziecie używać telefonów - obiecujemy, że będzie fotograf i zdjęcia na pewno udostępnimy, tutaj na stronie. Pss, zaraz po ceremonii możecie robić tyle fotek ile chcecie ;)
    </div>
  </div>
  <div class="title">
    Dress code - jak się ubrać?
    <div class="info-text">
      Całe przyjęcie odbędzie się w stylu rustykalnym. Co to znaczy? Chill, luźniejszy styl stroju, kwiaty, kolory ziemi, zwiewne sukienki, kombinezony, może to być też koszula ze spodniami garniturowymi. Jeśli lubisz czarny kolor - mi nie przeszkadza, sama jestem fanem. Panowie - koszula, szelki, krata, to na pewno się sprawdzi. Ważne, żebyście czuli się dobrze, fajnie jak uda wam się znaleźć coś pasującego do tego stylu, ale nie jest to konieczne :) <br>
      <br>
      Ceremonia ślubu cywilnego odbędzie się na trawie, dziewczyny polecamy postawić na obcas z klockiem. Pamiętajcie również, żeby wziąć wygodne buty do tańca - ja stawiam na conversy ;)    </div>
  </div>
  <div class="image-holder">
    <img src="assets/photo10.jpg">
  </div>
</div>


